@media(min-width: 768px){
    .navbar-toggler{
    display: none;
      
    }
}
h1{
    text-align: center;
}
.nav-item{text-align: center;
background-color: darkgray;
margin-bottom: -8px;
margin-left: -16px;
margin-right: -16px;

}
.second-text{
    margin: 10px 20px;
}
.first{
background-color: aqua;
margin-top: 20px;
}
.second{
background-color: bisque;
margin-top: 20px;
}
.third{
background-color: coral;
margin-top: 20px;
}
h2{
    text-align: center;
}